###################################################################
#            Bem Vindo ao ORGANIZACAO XYZ                         # 
#        Todas as conexões são monitoradas e registradas          #
# Desconecte IMEDIATAMENTE se você não for um usuário autorizado! #
#           Responsaveis por esse servidor: CGTI                  #
#                                                                 #
###################################################################